.strong_highlight_1 {
	background-color: #000000;
	color: #ffffff;
}

.strong_highlight_2 {
	background-color: #800000;
	color: #ffffff;
}

.strong_highlight_3 {
	background-color: #008000;
	color: #ffffff;
}

.strong_highlight_4 {
	background-color: #000080;
	color: #ffffff;
}

.strong_highlight_5 {
	background-color: #FFFFBF;
	color: #004040;
}

.strong_highlight_6 {
	background-color: #BFFFFF;
	color: #400040;
}

.strong_highlight_7 {
	background-color: #FFBFFF;
	color: #000040;
}

.strong_highlight_8 {
	background-color: #202020;
	color: #FFFF40;
}

.strong_highlight_9 {
	background-color: #605040;
	color: #A0B0D0;
}

.strong_highlight_10 {
	background-color: #804000;
	color: #FFFFFF;
}

.strong_highlight_11 {
	background-color: #008040;
	color: #FF40FF;
}

.strong_highlight_12 {
	background-color: #400080;
	color: #FFFF40;
}

.strong_highlight_13 {
	background-color: #40FFFF;
	color: #506070;
}

.strong_highlight_14 {
	background-color: #FFFF90;
	color: #3030FF;
}

.strong_highlight_15 {
	background-color: #101010;
	color: #FF0020;
}

.strong_highlight_16 {
	background-color: #101010;
	color: #40FF80;
}

.strong_highlight_17 {
	background-color: #101010;
	color: #4080FF;
}
