.strong_highlight_1 {
	background-color: #000000;
	color: #ffffff;
}

.strong_highlight_2 {
	background-color: #800000;
	color: #ffffff;
}

.strong_highlight_3 {
	background-color: #008000;
	color: #ffffff;
}

.strong_highlight_4 {
	background-color: #000080;
	color: #ffffff;
}

.strong_highlight_5 {
	background-color: #404040;
	color: #ffffff;
}

.strong_highlight_6 {
	background-color: #ffffff;
	color: #600000;
}

.strong_highlight_7 {
	background-color: #ffffff;
	color: #FF0000;
}

.strong_highlight_8 {
	background-color: #ffffff;
	color: #004000;
}

.strong_highlight_9 {
	background-color: #ffffff;
	color: #00BB00;
}

.strong_highlight_10 {
	background-color: #ffffff;
	color: #000060;
}

.strong_highlight_11 {
	background-color: #ffffff;
	color: #0000FF;
}
