.strong_highlight_2 {
	background-color: #ffffff;
	color: #000000;
}

.strong_highlight_3 {
	background-color: #ffffff;
	color: #800000;
}

.strong_highlight_4 {
	background-color: #ffffff;
	color: #008000;
}

.strong_highlight_5 {
	background-color: #ffffff;
	color: #000080;
}

.strong_highlight_1 {
	background-color: #000000;
	color: #ffff00;
}
